body {
    background: #eee;
    text-align: center;
    font-family: arial, sans-serif;
}
a {
    font-weight: bold;
}

p {
    text-align: left; 
    display: none;
}

#main,  {
    /* width: 500px; */
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}
#chats{
    float: none;
    max-width: 600px;
    height: 1000px;
    margin: auto;
    padding: 0px 60px 0px 60px;
    background: white;
    border: solid #ddd;
}
#main h1 {
    margin-top: 0;
    font-size: 55px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Fredoka One', cursive;
}

#main h1 span {
    font-style: italic;
}

#main div#rooms {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Fredoka One', cursive;
    display: inline;
}

select {
    font-family: 'Fredoka One', cursive;
    width: 40%;
    height: 35px;
    padding-bottom: 20px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 50%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}



#friends_header {
    font-family: 'Fredoka One', cursive;
    width: 20%;
    height: 35px;
    padding-bottom: 20px;
    float: right;
    position: relative;
    top: -1000px;
}
.friended {
    font-weight: bold;
}


.username:hover{
  color: rgb(255, 187, 210);
}

/*
.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}'*/